<!--<div *ngIf="childSelectedPin">
  <h3>{{childSelectedPin.name}}</h3>
  <h4>Edit Pin</h4>
  <label> Enter Pin's name</label>
  <input [(ngModel)]="childSelectedPin.name">
  <button (click)="finishedEditing()">Done</button>
</div>-->


<!-- <div>
  <label>New Pin's Name:</label>
  <input [(ngModel)]="selectedPin.name">
  <br>

  <label>New Pin's Link:</label>
  <input [(ngModel)]="selectedPin.link">
  <br>

  <label>New Pin's Date:</label>
  <input [(ngModel)]="selectedPin.date">

  <label>New Pin's Category:</label>
  <input [(ngModel)]="selectedPin.category">
  <br>
  <br>

  <button (click)="beginUpdatingPin(selectedPin)">Update</button>
</div> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<label>
  <p class="label-txt">New Pin's Name:</p>
  <input [(ngModel)]="selectedPin.name" type="text" class="input">
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<label>
  <p class="label-txt">New Pin's Link:</p>
  <input [(ngModel)]="selectedPin.link" type="text" class="input">
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<label>
  <p class="label-txt">New Pin's Date:</p>
  <input [(ngModel)]="selectedPin.date" type="text" class="input">
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<label>
  <p class="label-txt">New Pin's Category:</p>
  <input [(ngModel)]="selectedPin.category" type="text" class="input">
  <div class="line-box">
    <div class="line"></div>
  </div>
</label>
<button (click)="beginUpdatingPin(selectedPin)" type="submit">submit</button>