<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="container p-t-3">
  <div class="row">

  </div>
</section>
<section class="carousel slide" data-ride="carousel" id="postsCarousel">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12 text-md-right lead">
        <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
        <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
      </div> -->
    </div>
  </div>
  <div class="container p-t-0 m-t-2 carousel-inner">
    <div class="row row-equal carousel-item active m-t-0">
      <div *ngFor="let pin of pins | async" class="col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2"> {{pin.category}}</h6>
            <h6 class="small text-wide p-b-2">{{pin.date | date: 'dd/MM/yyyy' }}</h6>
            <app-edit-pin [selectedPin]="pin"></app-edit-pin>

            <h2>
              <a href>{{pin.name}}</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2">Development</h6>
            <h2>
              <a href>How to Make Every Line Count.</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2">Design</h6>
            <h2>
              <a href>Responsive is Essential.</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-equal carousel-item m-t-0">
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="//visualhunt.com/photos/l/1/office-student-work-study.jpg" alt="Carousel 4">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2">Another</h6>
            <h2>
              <a href>Tagline or Call-to-action.</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="//visualhunt.com/photos/l/1/working-woman-technology-computer.jpg" alt="Carousel 5">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2"><span class="pull-xs-right">12.04</span> Category 1</h6>
            <h2>
              <a href>This is a Blog Title.</a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 fadeIn wow">
        <div class="card">
          <div class="card-img-top card-img-top-250">
            <img class="img-fluid" src="//visualhunt.com/photos/l/1/people-office-team-collaboration.jpg" alt="Carousel 6">
          </div>
          <div class="card-block p-t-2">
            <h6 class="small text-wide p-b-2">Category 3</h6>
            <h2>
              <a href>Catchy Title of a Blog Post.</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- \<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins" rel="stylesheet">
<section class="section-tours">
  <div class=" text-center  u-margin-bottom-medium">
    <br> <br>
    <br> <br>
  </div>
  <div class="row">
    <div class="col-1-of-3" *ngFor="let currentPin of childPinList | sortbydate: filterType">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
             
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1">{{currentPin.category}}</span>

          </h4>
          <div class="card__details">
            <ul>
              <li>{{currentPin.name}}</li>
              <li>

              </li>
              <li>Difficulty: easy</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">{{currentPin.date | date: 'dd/MM/yyyy' }}</p>

            </div>
            <a (click)="editPin(currentPin)" href="#0" class="btn btn--white">Edit!</a>
            <a (click)="deletePin(currentPin)" href="#0" class="btn btn--white">Delete!</a>
            <div class="row">
              <div class="rating">
                <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">5 stars</label>
                <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">4 stars</label>
                <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
                <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">2 stars</label>
                <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">1 star</label>
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center u-margin-top-big">
    <a href="#0" class="btn btn--light-blue">
      <select (change)="onChange($event.target.value)">
        <option value="AZ" selected="selected">Sort A-Z</option>
        <option value="ZA" selected="selected">Sort Z-A</option>
        <option value="bydate"> Sort by date</option>
      </select>
    </a>
  </div>
</section> -->