<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container bg">

  <div class="row">
    <div *ngFor="let category of categories | async" (click)="goToDetailPage(category)" class="col-xs-12 col-sm-6 col-md-3 rwrapper">
      <div class="rlisting">
        <div class="col-md-12 nopad">
          <img src={{category.imageSrc}}>
        </div>
        <div class="col-md-12 nopad">

          <div class="rfooter">
            <i class="fa fa-phone-square"></i>
            <h3 (click)="goToDetailPage(category)">{{category.title}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 rwrapper">
      <div class="rlisting">
        <div class="col-md-12 nopad">
          <img src="http://dummyimage.com/250x250" class="img-responsive">
        </div>
        <div class="col-md-12 nopad">
          <h5>Lorem I</h5>
          <p>Lorem Ipsum is simply dummy text o industry...</p>
          <div class="rfooter">
            <i class="fa fa-phone-square"></i> +3000000
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 rwrapper">
      <div class="rlisting">
        <div class="col-md-12 nopad">
          <img src="http://dummyimage.com/250x250" class="img-responsive">
        </div>
        <div class="col-md-12 nopad">
          <h5>Simply g</h5>
          <p>Lorem Ipsum is simply dummy text o industry...</p>
          <div class="rfooter">
            <i class="fa fa-phone-square"></i> +3000000
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 rwrapper">
      <div class="rlisting">
        <div class="col-md-12 nopad">
          <img src="http://dummyimage.com/250x250" class="img-responsive">
        </div>
        <div class="col-md-12 nopad">
          <h5>Dummy S</h5>
          <p>Lorem Ipsum is simply dummy text o industry...</p>
          <div class="rfooter">
            <i class="fa fa-phone-square"></i> +3000000
          </div>
        </div>
      </div>
    </div>
  </div>
</div>