<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div ng-show="showme" class="form">


  <label>
    <p class="label-txt">New Pin's Name:</p>
    <input #newName type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">New Pin's Link:</p>
    <input #newLink type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">New Pin's Date:</p>
    <input #newDate type="date" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>


  <label>
    <p class="label-txt">New Pin's Category:</p>
    <select #newCategory>
      <option *ngFor="let category of categories |async" value='{{category.title}}'>{{category.title}}</option>

    </select>

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <div class="image-upload">
    <img [src]="imageSrc" style="max-width:300px;max-height:300px" />
    <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
  </div>
  <button ng-click="showme=false" (click)="submitForm(newName.value, newLink.value, newDate.value,newCategory.value); newName.value='';">submit</button>
</div>