<div class="container">
  <div ng-show="showme">
    <h1>New Pin</h1>
    <label>Create new Pin</label>
    <input #newName>
    <label>Link</label>
    <input #newLink>
    <label>Date</label>
    <input type="date" #newDate>
    <select #newCategory>
      <option value='book'>Book</option>
      <option value='music'>Music</option>
      <option value='sport'>Sport</option>
      <option value='health'>Health</option>

    </select>
    <button ng-click="showme=false" (click)="submitForm(newName.value, newLink.value, newDate.value,newCategory.value); newName.value='';">Add</button>
  </div>
</div>